body {
  font-size: 16px;
}

/** HEADER **/
#header-nav {
  background-color: #D0F5A9;
  border-radius: 0;
  border: 0;
}

/*div.navbar-header {padding-left: 15px;}*/

.navbar-brand h1 { /* Restaurant name */
  color: #151515;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, div.navbar-brand a:focus {
  text-decoration: none;
  color: black;
}

/* Button*/ 
.navbar-toggle {
  border: 1px solid black;
 /*  background-color: #04B486;*/
}

.navbar-toggle span {border: 1px solid black;}

/*Menu*/
#collapsable-nav li {
  background: #F5FAEF;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
} 
#collapsable-nav hr {
  height: 5px;
  margin: 0px;
  padding: 0px;
  border: none;
  background: #D0F5A9;
}
#collapsable-nav a {
  color: #333;
}
/*End Menu*/

/*Body*/
h2 {
  font-size: 25px;
  margin-bottom: 25px;
}

.row>div {margin-bottom: 15px;}

section.container div.section {
  background: #E6E6E6;
  padding: 5px 5px 5px 15px;
}

 
